.first-section {
    // height: 95vh;
    padding: 0;

    & strong {
        padding: 5%;
    }

    & .row {
        height: 50%;
        color: #fff;
    }

    &__first-row {
        & div:nth-of-type(1) {
            color: #000 !important;
            padding: 5% 0;

        }


        & div:nth-of-type(3) {
            background-color: #e3ae57;
        }


    }

    &__second-row {


        & div:nth-of-type(1) {
            background-color: #e3ae57;
        }

        & div:nth-of-type(2) {
            background-color: #e9724c;
        }

        & div:nth-of-type(3) {
            background-color: #000;
        }

        & div:nth-of-type(4) {
            background-color: #fff;
            color: #000;
        }

        & .second-row__flex-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15% 3%;
            text-align: center;

            & i {
                margin-bottom: 70px;
                font-size: 2.9rem;
            }
        }
    }

}

.about__img {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;

    & img {
        position: absolute;
        top: 45%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -30%) scale(.9);
    }
}